@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
  }

body, html {
    background-color: theme('colors.blue.50');
}


.gradient-1 {
  position: absolute;
  width: 200px;
  height: 438px;

  background: rgb(0, 221, 250);
  filter: blur(190px);
}

.gradient-2 {
  position: absolute;
  width: 400px;
  height: 800px;

  background: rgba(149, 66, 232, 0.35);
  filter: blur(175px);
  transform: rotate(-114.2deg);
}

.gradient-3 {
  position: absolute;
  width: 300px;
  height: 50vh;

  background: rgba(68, 0, 255, 0.75);
  filter: blur(200px);
  transform: rotate(-30deg);
}

.gradient-4 {
  position: absolute;
  width: 300px;
  height: 50vh;
  
  background-image: linear-gradient(
    rgb(0, 47, 255)0%,
    rgb(92, 122, 255)20%,
    rgba(10, 217, 224)40%,
    rgb(192, 114, 255)60%,
    rgb(156, 10, 224)80%,
    rgb(78, 25, 201)100%
    );
    opacity: 0.8;
    filter: blur(150px);
  }

  .gradient-5 {
    position: absolute;
    width: 500px;
    height: 500px;
  
    background: rgba(0, 81, 255, 0.8);
    filter: blur(200px);
  }

.footer-gradient {
  position: absolute;
  width: 500px;
  height: 70px;
  left: 33%;
  bottom: 0;
  z-index: 0;
  background: theme('colors.brand.secondary');
  filter: blur(125px);
}