@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body, html {
    background-color: theme('colors.blue.50');
}


.footer-gradient {
  position: absolute;
  width: 500px;
  height: 100px;
  left: 50%;
  bottom: 0;
  z-index: 0;
  background: theme('colors.brand.secondary');
  filter: blur(150px);
}